body {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: whitesmoke;
}

h1 {
    display: flexbox;
    justify-content: center;
    font-size: 100px;
    padding-bottom: 5px;
    color: blueviolet;
}
img {
    display: flexbox;
    justify-self: flex-start;
    margin: 115px 40px 10px 5px
}